.container-ranges {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-ranges .totals {
  position: absolute;
  top: 0;
  right: 0;
}

.container-ranges .totals-collected {
  position: absolute;
  top: 20px;
  right: 0;
}
