.content-menu {
  position: relative;
}

.content-menu footer {
  position: absolute;
  bottom: 15px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-menu footer p {
  margin: 0;
}